{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Url Shortener</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-6 col-xl-5">
          {% if messages %} {% for message in messages %}
          {% if message.tags == 'success'%}
          <div class="alert alert-success">🐱‍🏍 {{ message|safe }}. Check it out <a class="text-success font-weight-bold" href="{{url}}">here</a>.</div>
          {% elif message.tags == 'error'%}
          <div class="alert alert-danger">❌ {{ message|safe }}</div>
          {%endif%}
          {% endfor %} {% endif %}
          <div class="card">
            <div class="card-header">
              <h5>
                👻 This will shorten your
                <span class="text-info font-weight-bold">URL address</span>.
              </h5>
              <hr />
              <p>
                <span class="text-success font-weight-bold">
                  🔐 Protect your links</span
                >
                , you can add a Key which will be later used to access this
                route.</br></br>
                <span class="text-danger font-weight-bold">❌ Note:</span> Your link will be valid for <b>7 days</b>.
              </p>
              {% if url %}
              <div>
                  ℹ Your <b>Shorten URL </b> details:</br></br>
                  <b>Link</b>: <a class="text-dark" href="{{short_url}}">{{short_url}}</a></br>
                  <b>Expires</b>: {{url.date_expires}}</br>
                  <b>Views</b>: {{url.views}}
              </div>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="form-wrapper">
                <form method="post" action='/'>
                   {% if '/info' in request.build_absolute_uri %}
                   <h4>Create another URL.</h4>
                   {%endif%}
                   {% csrf_token %} {{ form|crispy }}
                   <button class="btn btn-success fon" type="submit">
                    ✔ Generate URL
                   </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
